IndentWidth: 4
ColumnLimit: 160
BraceWrapping:
    BeforeElse: false
    BeforeCatch: false
SpacesInConditionalStatement: true
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInContainerLiterals: true
SpacesInParentheses: true
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: WithoutElse